body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

#product-overview {
  /* background is a shorthand property */
  background: #ef1b68;
  width: 100%;
  height: 520px;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

/* This is called combinators */
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

/*h1 {
  font-family: sans-serif;
}*/
