* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

#product-overview {
  /* background is a shorthand property */
  background: #ef1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
  /* considering the entire box except margin */
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

/* This is called combinators */
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

/*h1 {
  font-family: sans-serif;
}*/

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}

/* Combinator, direct child */
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  font-weight: bold;
  font-size: 22px
}
.main-header__brand a {
  text-decoration: none;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;

}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active
{
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item-cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
